body {
  margin: auto;
  background-color: #eee;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: arial;
}

.grid-container {
  width: 80vw;
  background-color: white;
  padding: 1rem;
  /* border: 3px solid limegreen; */
  margin: 3px;
  display: grid;
  grid-template-columns: 0.6fr 1.4fr;
  grid-template-rows: 0.8fr;
  grid-template-areas: "nav_container notes_container";
}

.nav_container {
  grid-area: nav_container;
  /* border: 3px solid blue; */
  margin: 3px;
  display: grid;
  grid-template-columns: ;
  grid-template-rows: 0.5fr 1.5fr;
  grid-template-areas: "nav_profile" "nav_folders_list";
}

.nav_profile {
  grid-area: nav_profile;
  /* border: 3px solid brown; */
  margin: 3px;
}

.nav_folders_list {
  grid-area: nav_folders_list;
  /* border: 3px solid orange; */
  margin: 3px;
}

.nav_folders_list ul {
  list-style-type: none;
  padding-left: 0;
}

.notes_container {
  grid-area: notes_container;
  /* border: 3px solid tan; */
  margin: 3px;
  display: grid;
  grid-template-columns: ;
  grid-template-rows: 0.3fr 2.3fr 0.4fr;
  grid-template-areas: "notes_container_header" "notes_container_list" "notes_container_compose";
}

.notes_container_header { grid-area: notes_container_header; }

.notes_container_list {
  grid-area: notes_container_list;
  padding-left: 0;
  list-style-type: none;
}

.notes_container_compose { grid-area: notes_container_compose; }

.user_img { width: 5rem; height: 5rem; }

.note {
  display: flex;
  margin: 1rem;
  /* border: 3px solid yellow; */
  margin: 3px;
}

.note .user_img {
  margin-right: 1rem;
}
