html {
  height: 100%;
  width: 100%;
}
input {
    border: 5px solid white;
    -webkit-box-shadow:
      inset 0 0 8px  rgba(0,0,0,0.1),
            0 0 16px rgba(0,0,0,0.1);
    -moz-box-shadow:
      inset 0 0 8px  rgba(0,0,0,0.1),
            0 0 16px rgba(0,0,0,0.1);
    box-shadow:
      inset 0 0 8px  rgba(0,0,0,0.1),
            0 0 16px rgba(0,0,0,0.1);
    padding: 15px;
    background: rgba(255,255,255,0.5);
    margin: 0 0 10px 0;
}

#root {
  height: inherit;
  width: inherit;
}
#notes {
    /* background-image: url('https://i.pinimg.com/originals/54/a8/6d/54a86dd124d3d999cf78571ed82313b2.jpg'); */
    background-color: #e7e7e7;
    width: 100%;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}
#left-grid-container {
  display: flex;
  flex-direction: column;
  border: 1.5px double white;
  background-image: linear-gradient(#003366, navy);
  width: 25%;
}

.gridContainer {
  display: flex;
  height: inherit;
  width: inherit;
}

.headerContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 5%;
  margin-left: 5%;
  margin-right: 20%;
  color: #F0F8FF;
}
.headerContainer span {
  font-size: 16px;
  width: 60%;
  font-style: italic;
  align-self: flex-end;

}
.headerContainer div {
  display:flex;
  justify-content: space-evenly;
  align-items: center;
  font-family: butler;
}

.navContainer.button{
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.navUsername {
  padding-left: 15px;
  padding-top: 7.5px;
  font-weight: bold;

}
.nav_folders_list {
}
.nav_profile {
  display:flex;
  justify-content: space-around;
  padding-top: 20%;
  padding-bottom: 20%;
}

.welcomeParagraphWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: azure;
}
.imgWrapper {
}

.navUsername {
  padding-left: 15px;
  padding-top: 7.5px;
  font-weight: bold;

}
.nav_profile img {
    width: 75px;
    height: 75px;
    padding-left: 10%;
}

.foldersHeadingWrapper {
  padding-top: 10%;
  color: azure;
}
.foldersHeading {
  padding-left: 7.5%;
}
.foldersContainer {
  font-style: normal;
}
.foldersContainer input{
  width: 70%;
  border-radius: 10px;
  border: 2px ridge transparent;
  font-size: 14px;
}
.addFolderBtn{
  width: 13%;
  font-size: 26px;
  background-color: Transparent;
  background-repeat:no-repeat;
  border: none;
  cursor:pointer;
  overflow: hidden;
  outline:none;
  color: white;
}
.addFolderBtn:hover {
  width: 13%;
  font-size: 21px;
  background-color: deepskyblue;
  border-radius: 10px;
  background-repeat:no-repeat;
  cursor:pointer;
  overflow: hidden;
  text-align: center;
  color: green;
  font-weight: bold;
}
.folders-li {
  display: flex;
  justify-content: space-between;
  background-color: steelblue;
  border-bottom: 3px solid #173F5F;
}
.folderliststyle {
  display: flex;
}
ul.foldersListStyle {
  list-style-type: none;
  padding: 0;
  margin: 0 auto;
}
li div.folders-li button{

}
.delFolderBtn {
  background-color: Transparent;
  background-repeat:no-repeat;
  cursor:pointer;
  overflow: hidden;
  outline:none;
  border:none;
  font-weight: bold;
  color: white;
  font-size: 19px;
}
.delFolderBtn:hover {
  background-color: Transparent;
  background-repeat:no-repeat;
  cursor:pointer;
  overflow: hidden;
  outline:none;
  border:none;
  font-weight: bold;
  color: red;
  font-size: 17px;
}
.openFolderBtn {
  background-color: Transparent;
  background-repeat:no-repeat;
  cursor:pointer;
  overflow: hidden;
  outline:none;
  border:none;
  font-weight: normal;
  color: white;
  font-size: 15px;
}
.openFolderBtn:hover {
  background: Transparent;
  background-repeat:no-repeat;
  cursor:pointer;
  overflow: hidden;
  outline:none;
  border:none;
  font-weight: bold;
  color: white;
  font-size: 15px;
  border-radius: 6px;
  border: 2px inset green;
}

.logoutBtnWrapper {
  left: 6.5%;
  position: absolute;
  bottom: 2.5%;
}
.logoutBtn {
  align-self: center;
  background-color: inherit;
  background-repeat:no-repeat;
  cursor:pointer;
  overflow: hidden;
  color: steelblue;
  border: 2px solid darkgray;
  border-radius: 6px;

}
.logoutBtn:hover {
  align-self: center;
  background-color: deepskyblue;
  background-repeat:no-repeat;
  cursor:pointer;
  overflow: hidden;
  color: white;
  border: 2px solid white;
  border-radius: 6px;

}


/* NotesContainer */

.notesContainer {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
.notesHeader {
  overflow: hidden;
  background-color: #333;
}
.notesContent {
  background-color: #ddd;
  padding: 10px;
}
.notesFooter {
  background-color: #f1f1f1;
  padding: 10px;
}
.notesFolderName {
  font-size: 40px;
  font-weight: 600;
  color: white;
}



.shareButton {
  display: inline-block;
  background-color: #008CBA;
  color: #FFFFFF;
  text-align: center;
  font-size: 18px;
  width: 90px;
  height: 40px;
  transition: all 0.5s;
  cursor: pointer;
  float: right;
  margin: 10px;
  /* border-radius: 4px; */
  /* border: none; */
  /* padding: 5px; */
}
.shareButton span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}
.shareButton span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}
.shareButton:hover span {
  padding-right: 25px;
}
.shareButton:hover span:after {
  opacity: 1;
  right: 0;
}
.shareInput {
  padding: 10px;
  height: 20px;
  /* margin: 0 0 10px 0; */
  background-color: #fff;
  float: right;
}
